/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.rainbow-text {
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  color: transparent;
}